<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Dive Sites - Bhaccasyoniztas Beach Resort Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">	
					
			<!-- <div id="header"> has been replaced with {{> header}} to stop repeating code unnecessarily-->
			{{> header }}

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel</h1>
							<ul id="sites">
								{{#each trips}}
								<li>
									<a href="/travel"><img src="images/{{this.image}}" alt="Img"></a>
									<h2><a href="/travel">{{this.name}}</a></h2>
									{{{this.description}}} 
									<!-- this.description has triple handlebars around it instead of double handlebars so that the html tags will not be visible and the text will display as intended -->
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div id="footer"> has been replaced with {{> footer}} to stop repeating code unnecessarily-->
		{{> footer }}

	</div>
</body>
</html>